
#labelnombre{
    
    display: inline-block; 
    width: 80px;


}

#labeldesc{
    display: inline-block; 
    width: 80px;

}

#labelprecio{
    display: inline-block; 
    width: 80px;

}


#tds{
    color:black;
    background-color: cadetblue;
    border-style:dotted;
}

#th1{
    border: 1px; 
    width: 100px; 
    word-wrap: break-word;
}

#th2{
    border: 1px; 
    width: 100px; 
    word-wrap: break-word;
}

#th3{
    border: 1px; 
    width: 100px; 
    word-wrap: break-word;
}

#th4{
    border: 1px; 
    width: 100px; 
    word-wrap: break-word;
}